@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}
@include keyframes(zoom-in-zoom-out) {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.preloader {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: auto;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  @include animation("zoom-in-zoom-out 2s ease infinite");
  .img {
    margin-top: 50%;
  }

  .header__title {
    text-align: center;
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 0.4);
    background-position: 0 0;

    background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
    background-image: linear-gradient(92deg, #f35626, #feab3a);
    background-clip: text;

    animation-name: hue;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    font-size: 32px;
    font-weight: bold;

    cursor: pointer;
  }
}
