@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}
@include keyframes(zoom-in-zoom-out) {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
@include keyframes(load) {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.preloader {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: auto;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  @include animation("zoom-in-zoom-out 2s ease infinite");
  .img {
    margin-top: 50%;
  }

  .progress {
    background: rgba(255, 255, 255, 0.1);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 5px;
    display: flex;
    height: 40px;
    width: 500px;
  }

  .progress_value {
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: #fff;
    height: 30px;
    width: 0;
    @include animation("load 3s normal forwards");
  }
}
