.header {
    
    background-color: #1E1E1E;
    height: 10vh;
    width: 100vw;

    border-bottom: 1px solid gray;
    // box-shadow: 0px 0px 10px #000000;

    z-index: 100;

    display: flex;
    justify-content: space-between;
    align-items: center;

    -webkit-box-shadow: 1px 1px 10px 3px white; 
    box-shadow: 1px 1px 10px 3px white;

    .header__left {
        display: flex;
        align-items: center;
        margin-left: 20px;

        .header__title {
        
            text-align: center;
            letter-spacing: 2px;
            color: rgba(255, 255, 255, 0.4);
            background-position: 0 0;

            background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
            background-image: linear-gradient(92deg, #f35626, #feab3a);
            background-clip: text;

            animation-name: hue;
            animation-duration: 10s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        
            font-size: 32px;
            font-weight: bold;

            cursor: pointer;
        
        }

        @keyframes hue {
            from {
              -webkit-filter: hue-rotate(0deg);
            }
            to {
              -webkit-filter: hue-rotate(-360deg);
            }
        }

    }

    .header__right {
        
        display: flex;
        align-items: center;
        margin-right: 30px;
        margin-top: 2.5px;

        .github--link {
            text-decoration: none;
        }

        select {
            background-color: #1E1E1E;
            color: white;
            border: 1px solid rgba(white, 0.7);
            border-radius: 5px;
            padding: 5px;
            font-size: 16px;
            font-weight: bold;
            cursor: pointer;
            margin: 0px 20px;
            outline: none;

            &:hover {
                border-color: white;
            }
        }

        .githubIcon {
            opacity: 0.8;
            transition: opacity 100ms;

            &:hover {
                opacity: 1;
            }
        }

        .icon {
            font-size: 32px;
            color: white;
            cursor: pointer;
            margin: 0px 20px;
        }

        .themeIcon {
            color: yellow;
            opacity: 0.9;
            transition: opacity 100ms;

            &:hover {
                opacity: 1;
            }
        }

        .moonIcon {
            color: #65b6ec;
            transform: rotate(-110deg);
        }
    }

}

.header--light {
    background-color: white;

    .header__left {
        
        .header__title {
            color: black;
        }
    }
}